.section-planos {
    width: 100%;
    overflow: hidden; /* Evita margin-collapse */
    padding: 3rem 1rem;
}

#group-text-apresentation-section-planos {
    background-color: #2c2c2c;
    width: 100%;
    max-width: 500px;
    height: 100px;
    margin: auto auto;
}

#group-cards-planos {
    display: flex;
    margin: 3rem auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    max-width: 1100px;
}

.card-plano {
    background-color: #D9D9D9;
    width: 100%;
    max-width: 300px;
    height: 400px;
    border-radius: 5%;
    flex: 0 0 300px;
}

.arraste-info {
    display: none;
    text-align: center;
    color: #a4a4a4;
    font-size: 1rem;
    margin-top: 1rem;
}


/* 🔽 Carrossel no mobile */
@media (max-width: 768px) {
    #group-cards-planos {
        flex-wrap: nowrap;         /* Não quebra linha */
        overflow-x: auto;          /* Ativa rolagem horizontal */
        scroll-snap-type: x mandatory; /* Rolagem mais suave e travada */
        -webkit-overflow-scrolling: touch;
    }

    .card-plano {
        flex: 0 0 100%;             /* Ocupa 80% da largura da tela */
        scroll-snap-align: center;  /* Alinha no começo da tela ao rolar */
        margin-right: 1rem;        /* Espaço entre cards */
    }

    .arraste-info {
        display: block;
    }

}
